<!-- start main content -->
<main class="container">

	<section>

		<div class="signinpanel">

			<div class="row">

				<div class="col-md-5 col-md-offset-1">

					<form method="post" action="#">
						<h4 class="nomargin">Entrar</h4>
						<p class="mt5 mb20">Login para acceder a tu cuenta.</p>

						<input type="text" class="form-control uname" placeholder="Usuario" />
						<input type="password" class="form-control pword" placeholder="contraseña" />
						<a href="#"><small>Recuperar contraseña?</small></a>
						<button class="btn btn-success btn-block">Acceder</button>

					</form>
				</br>
					<strong>No eres miembro? <button class="register_button_from_login" onclick="validate_login()">Registrarse</button></strong>
				</div><!-- col-sm-5 -->
				
				
			</div><!-- row -->


		</div><!-- signin -->

	</section>
</main>
<!-- end  main content -->